#app-screen, #caption-container {
    /* Makes it so user can scroll on the screen to see stuff */
    overflow-y: scroll;
    display: flex;
    max-width: 100%;
    background-color: #d9d9d9;

}

.screen {
  background-color: #d9d9d9;

    /* Add some space between the two columns */
}

#left-wall {
  margin-right: 7px;
}

#app-screen>div {
    width: 50%;
}

#app-screen>div>img {
    max-width: 100%;
    /* Add space between images on top of each other */
    margin-bottom: 10px;
}

.caption {
  background-color: white;
  min-height: 50px;
  display: flex;
  margin-bottom: 5px;
  display: flex;
  padding-left:10px;
  padding-right:10px;
}

.userInfo p {
  font-size: 8px;
  color: black;
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.userInfo img {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  border-radius: 50%;
}

.captionText {
  font-size: 10px;
  padding: 10px;
  color: black;
  width: 65%;
  }

.captionVotes {
  font-size: 15px;
  margin-top: 10px;
  float: right;
}


.gameImage {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

#gameCreator {
  font-size: 15px;
  color: black;
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
}

.wallGameCreator {
  background-color: white;
  height: auto;
}

.wallGameCreator p {
  color: black;
  font-size: 10px;
  float: right;
  margin-bottom: 0px;
  padding: 3px;
  max-width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#caption-screen {
  width: 100%;
}
